#page-home {
    height: 100vh;
    background: url('../icones/home-background.svg') no-repeat;
    background-position: 35vw 15vh;
}

#page-home .content {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span {
    margin-right: 16px;
    display: flex;
    background-image: url('../icones/log-in.svg');
    width: 20px;
    height: 20px;
}

#page-home main {
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primary-color);
    transition: 400ms;
    color: white;
}

#page-home main a:hover {
    background-color: var(--background-color);
}

#page-home main a span {
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after {
    content: "";
    background-image: url('../icones/search.svg');
    width: 20px;
    height: 20px;
}

#page-home main a strong {
    flex: 1;
    color: white;
    text-align: center;
}


/* */

#modal {
    background: #0e0a14ef;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .content {
    color: white;
    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

#modal .header a {
    background-image: url('../icones/x.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
}

#modal .header h1 {
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal form label {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;
    background: #f0f0f5;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}

#modal form button {
    height: 72px;
    width: 72px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

#modal form button:hover {
    background-color: #2fb85e;
}


/* */

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 30vw;
    }
}

@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }
}

@media (max-height: 750px) {
    #page-home {
        background-position-y: 200px;
    }
}